<h1><%= @kitty.name %></h1>

<h3>BirthDate: <%= @kitty.birth_date%></h3>
<h3>Color: <%= @kitty.color%></h3>
<h3>Gender: <%= @kitty.gender%></h3>
<h3>Description: <%= @kitty.description%></h3>

<p>
  <%= @kitty.description %>
</p>