<h1> Make a new post!</h1>

<form action="<%=posts_url%>" method="post">
    <input type="hidden" name="authenticity_token" value="<%=form_authenticity_token%>">
    <label>Title:
        <input type="text" name="post[title]" value="<%=@post.title%>">
    </label>
    <br>
    <label>URL:
    <input name="post[url]" value="<%=@post.url%>">
    </label>
    <br>
    <label>Content:
        <input type="textarea" name="post[content]" value="<%=@post.content%>"> 
    </label>
    <button type="submit" value="Create Post">Create Post</button>

</form>